 <!-- Modal -->


 <div class="modal-demo">
     <div class="modal-header api_modal">
         <h3 class="modal-title" id="modal-title">Forgot Your Password?<span ng-click="cancel()" class="close">&times;</span> </h3>
     </div>

     <div class="modal-body" id="modal-body">
         <!--<div class="row wecanhelp"><p>We can help!</p></div>-->
         <div class="row enter_email"><p>Enter your email address, and we'll send you the link for resetting your password.</p></div>
         <div class="row">
             <div class="col-sm-offset-2 col-sm-7 col-xs-8"><input type="text" class="form-control input-md" ng-model="resetModel.emailId" placeholder="Enter Your Email"></div> <div class="col-sm-3 col-xs-3 text-left padd_0"><input type="submit" class="btn btn-info" value="Submit" ng-click="resetPass()" ng-disabled="resetModel.disableBtn"></div>
         </div>

         <div class="col-md-10 progress_bar">
             <lx-progress type="circular" color="#055775" ng-show="resetModel.showSmallCircularProgress"></lx-progress>
         </div>
     </div>

     <!--<div class="modal-footer">
         <div class="row span_email"><p>If you don't receive an email, please check your spam folder, or click &nbsp; <a href="#" class="resend">Resend</a></p></div>
     </div>
-->

 </div>